.custom-css .alice-carousel .alice-carousel__wrapper {
  position:relative;
  overflow:hidden;
}

.custom-css .alice-carousel .alice-carousel__wrapper:after, 
.custom-css .alice-carousel .alice-carousel__wrapper:before {
  content:'';
  background:white;
  position:absolute;
  top: -20px; 
  height: 40px;
  left:0;
  width:100%;
  border-radius:0 0 60% 60%;
  z-index: 1;
}

.custom-css .alice-carousel .alice-carousel__wrapper:after {
  top:auto;
  border-radius:50% 50% 0 0 ;
  bottom: -20px; 
  height: 40px;
}
