@import url('https://fonts.googleapis.com/css2?family=Kameron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

@font-face {
  font-family: 'Perpetua Titling MT';
  src: url('/fonts/PerpetuaTitlingMTLight2.ttf') format('opentype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-with-shadow {
  text-shadow: 4px 2px 1px rgba(76, 69, 69, 0.2);
}
.thin-font {
  font-weight: 100;
}
.bold-font{
  font-weight: 900;
}
.shadow-container {
  position: relative;
}

.shadow-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  z-index: -1;
}
